* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.navbar-brand {
	font-size: 1.5rem;
}

.main-container {
	margin-top: 15vh;
	text-align: center;
}

#hero {
	aspect-ratio: 4/3;
	max-width: 1000px;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	background-image: url("./images/Kamakhya-o3.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

.active-btn,
.inactive-btn {
	cursor: pointer;
}

.active-btn {
	background-color: #33ccff;
	padding: 4px 12px;
	border-radius: 25px;
}

.inactive-btn {
	border-color: #33ccff;
	border-style: solid;
	padding: 4px 12px;
	border-radius: 25px;
}

.inactive-btn:hover {
	border-color: white;
}

img {
	width: 300px;
	margin: 0 auto;
}
